# Ignorar todo
compresion/
partlist/
dwg/
pdf/
sep/
unir/
mod_ls/
source/
cps/
.venv/
data.xlsx
cp.xlsx
modulos/__pycache__/

# Exceptuar el archivo index.py
!index.py
!modulos/__ini__.py
!modulos/copy.py
!modulos/partlist.py
!modulos/prom.py
!modulos/rename_ar.py
!modulos/sep_pdf.py
!modulos/unir_pdf.py
!.gitignore

