# Ignorar todo
app_py/AppZero/compresion/
app_py/AppZero/dwg/
app_py/AppZero/pdf/
app_py/AppZero/sep/
app_py/AppZero/unir/
data.xlsx

# Exceptuar el archivo index.py
!app_py/AppZero/index.py
!app_py/AppZero/.venv/
!app_py/AppZero/modulos/
!app_py/AppZero/.gitignore

